# Install pytest
pytest

# Install tdhf
git+ssh://git@github.com/haakoek/tdhf.git

# Install matplotlib for plotting of scripts
matplotlib

# Install black
black

# Install tqdm
tqdm

# Install sphinx for docs
sphinx
sphinx_rtd_theme

# Install Gauss-integrator
git+ssh://git@github.com/Schoyen/gauss-integrator.git
