# Install numpy
numpy

# Install scipy
scipy

# Install sympy
sympy

# Install pandas
pandas

# Install pytest
pytest

# Install numba
numba

# Install quantum-systems
git+https://github.com/Schoyen/quantum-systems.git

# Install tdhf
git+ssh://git@github.com/haakoek/tdhf.git

# Install matplotlib for plotting of scripts
matplotlib

# Install black
black

# Install tqdm
tqdm
